/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.title span {
    font-size: 20px;
    font-weight: 400;
}
.xett {
    width: 100px;
    height: 5px;
    background: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue
    );
}
.metn {
    width: 100%;
    margin-top: 20px ;
    
    
}

.compdiv {
    width: 250px;
    height: 200px;
    background-color: #f1f1f1;   
    overflow: hidden;
    display: flex;
    
   
    margin-top: 50px;
}

#comp {
    color: rgb(220, 29, 29);
    position: absolute;
    top: 250px;
    left: 25px;
    height: 20px;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(220, 29, 29);
    
    
}
#digital {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 350px;
    left: 25px;
}

.desingdiv {
    width: 250px;
    height: 200px;
    background-color: #f1f1f1;   
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 230px;
    left: 260px;
}

#pen{
    color: rgb(220, 29, 29);
    position: absolute;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(220, 29, 29);
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#dizayn {
    width: 100px;
    height: 20px;
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
    
}

.programingdiv {
    width: 250px;
    height: 200px;
    background-color: #f1f1f1;   
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 430px;
    left: 8px;
}
#program {
    color: rgb(220, 29, 29);
    position: absolute;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(220, 29, 29);
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#pr{
    width: 100px;
    height: 20px;
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
}

.serverdiv {
    width: 250px;
    height: 200px;
    background-color: #f1f1f1;   
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 430px;
    left: 260px;
}

#server {
    color: rgb(220, 29, 29);
    position: absolute;
    background-color: #f1f1f1;
    border-style: solid;
    border-width: 10px;
    border-color: rgb(220, 29, 29);
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#sistem{
    width: 100px;
    height: 20px;
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
}